name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt-get install libasound2-dev libudev-dev -y

    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install latest Rust nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2022-11-05
        override: true

    - name: Kesko - Build
      run: cargo build --verbose
      working-directory: ./kesko

    - name: Kesko - Run tests
      run: cargo test --all --verbose
      working-directory: ./kesko

    - name: PyKesko - Build
      run: cargo build --verbose
      working-directory: ./pykesko

    - name: PyKesko - Run tests
      run: cargo test --all --verbose
      working-directory: ./pykesko
    

